<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072835744078-d94arhausi9c2i0lcgt1cir3hfec5vhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072835744078-d94arhausi9c2i0lcgt1cir3hfec5vhr</string>
	<key>API_KEY</key>
	<string>AIzaSyCBJndc-_lzsZfGYyg_Abn8Vxahabp1X40</string>
	<key>GCM_SENDER_ID</key>
	<string>1072835744078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naamani.trainear</string>
	<key>PROJECT_ID</key>
	<string>trainear-22fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>trainear-22fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072835744078:ios:f490f570ae71de1607ce1f</string>
</dict>
</plist>